/* CSS Document */

/* Base elements */

html{
    background-color: black;
}

body {
	background-image: url("/images/leather-bg.jpg");
	background-position: top center;
    background-size: 100%;
	background-color: black;
	margin: 0;
}

h1 {
	font-family: cabazon, sans-serif;
	font-size:7em;
	font-weight: 500;
	text-align: center;
	line-height: 1.2em;
	background: -webkit-linear-gradient(#8f000b, #ff0000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: #ff0000;
	padding: 0;
	margin: 0;
}

h2 {
	color: rgb(255, 255, 255);
	font-family: gitan-latin, Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-align: center;
	line-height:2em;
	font-size:1.4em;
	padding-bottom: 30px;
}

h3 {
	color: rgb(255, 255, 255);
	font-family: gitan-latin, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size:1.7em;
	line-height:1em;
	padding: 30px 0 10px 0;
	margin: 0;
}

p {
	color: rgb(255, 255, 255);
	font-family: gitan-latin, Arial, Helvetica, sans-serif;
	font-size: large;
	line-height:2em;
	text-align: center;
}

a {
	color: rgb(255, 255, 255);
	font-family: gitan-latin, Arial, Helvetica, sans-serif;
}

ul {
	color: rgb(255, 255, 255);
}


/* Custom classes */

.intro-image {
	padding: 30px 0 0 0;
	width: 100%;
}

.page {
	width: 80%;
	max-width: 650px;
	margin: 0 auto 0;
	padding: 30px 0 50px 0;
}

.content {
	width: 100%;
	max-width: 650px;
	margin: 0 auto 0;
	padding: 0;
}


.button1 {
	background-color: #ff0000; /* Pink */
	background: -webkit-linear-gradient(#ff0000, #8f000b);
	border: none;
	color: rgb(255, 255, 255);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: large;
	font-weight: 700;
	border-radius: 5px;
	margin:auto;
  }

  .button2 {
	border: 0.2em solid #ffffff;
	color: white;
	padding: 15px 65px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: large;
	border-radius: 5px;
	margin:auto;
	margin-bottom: 50px;
  }


/* Responsive styles */

@media only screen and (max-width: 700px) {
	h1 {
		font-size:5em;
	}

	h2 {
		line-height:1.5em;
		font-size:1.2em;
	}
	
	h2 {
		line-height:1.5em;
		font-size:1.2em;
	}

	p {
		color: rgb(255, 255, 255);
		font-family: gitan-latin, Arial, Helvetica, sans-serif;
		font-size: small;
		line-height:1em;
		text-align: center;
	}

	.page {
		width: 90%;
		padding: 20px 0 30px 0;
	}

	.bottom-links {
		font-size:1.4em;
		padding-top: 30px;
	}

	.bio-photo {
		padding: 0 30px 0 0;
		width: 20%;
		float: left;
	}

	figure {
		margin: 0;
		padding: 0;
	  }
	
	  figcaption {
		color: rgb(255, 255, 255);
		font-family: "basic-sans", Arial, Helvetica, sans-serif;
		font-size:medium;
		padding: 0 0 8px 0;
	  }
	
}