---
import Layout from "@components/Layout.astro";
import Title from "@components/Title.astro";
import Page from "@components/Page.astro";
import { Image } from "astro:assets";
import localImage from "../images/character-minotaur.png";
---

<Layout title="Characters">
  <main>
    <Page>
      <Title text="Minotaur" />

      <Image class="mx-auto" src={localImage} alt="minotaur illustration" />

      <p>
        This afternoon I got so scared I couldn&rsquo;t keep on eating,<br />
        my food got cold, I sat and stared my heart was thunderous beating,<br
        />
        what was this thing that got me shook? What was it that I saw?<br />
        It was a hideous, monster cook; a lunchroom minotaur.
      </p>
      <p>
        I&rsquo;d always thought the tales were lies, I didn&rsquo;t think them
        real<br />
        until I saw with my own eyes, a man-bull cook a meal.<br />
        A giant ring hung from his nose, two horns upon his head,<br />
        a coat of fur in place of clothes, no shoes - two hooves instead.
      </p>
      <p>
        The cook we had before the bull I hear was really great her top cuisine<br
        />
        would keep you full no crumb left on your plate But now she&rsquo;s<br
        />
        gone, just disappeared vanished without a clue this lovely cook,<br />
        it&rsquo;s thought and feared was served up in the stew.
      </p>
      <p>
        The canteen&rsquo;s now a silent hell the patrons all glum and sad<br />
        everyone is just too scared to yell “THIS FOOD IS REALLY BAD!”<br />
        The chips; they are as hard as nails the pie tastes like a drain<br />
        the gravy&rsquo;s like the slime of snails but who would dare complain?
      </p>
      <p>
        They need someone who will be strong<br />
        a brave soul who will try to stand and fight this food-based wrong.<br
        />
      </p>

      <p>
        But oh no no! not I! Facing the beast is not for me for I am but a
        gnome.<br />
        But I can sort this out, you&rsquo;ll see I&rsquo;ll bring my food from home.<br
        />
        My lunch, once more, I will adore I&rsquo;ll eat it in my cave<br />
        never to see that minotaur I&rsquo;d sooner be full than brave.
      </p>
    </Page>
  </main>
</Layout>
