---
import Layout from "@components/Layout.astro";
import Typography from "@components/Typography.astro";
import Title from "@components/Title.astro";
import Button from "@components/Button.astro";
---

<Layout title="Characters">
  <main>
    <Typography>
      <div class="flex flex-col items-center">
        <Title text="Characters" />
        <p>Here are a few of the characters from the dungeon days book</p>
        <div>
          <Button href="/characters/stilton"> Stilton </Button>
        </div>
        <div>
          <Button href="/characters/minotaur">The Minotaur</Button>
        </div>
        <div>
          <Button href="/characters/skeleton">The Skeleton</Button>
        </div><div>
          <Button href="/characters/ogre">The Ogre</Button>
        </div>
      </div>
    </Typography>
  </main>
</Layout>
