---
import Layout from "@components/Layout.astro";
import Page from "@components/Page.astro";
import Title from "@components/Title.astro";
---

<Layout title="Characters">
  <main>
    <Title text="Characters" />
    <Page>
      <section>
        Here are a few of the characters from the dungeon days book
      </section>
      <section>
        <a href="/characters/stilton"><h2>Stilton</h2></a>
      </section>
      <section>
        <a href="/characters/minotaur"><h2>The Minotaur</h2></a>
      </section>
      <section>
        <a href="/characters/skeleton"><h2>The Skeleton</h2></a>
      </section>
      <section>
        <a href="/characters/ogre"><h2>The Ogre</h2></a>
      </section>
    </Page>
  </main>
</Layout>
