---
import Layout from "@components/Layout.astro";
import { Image } from "astro:assets";
import localImage from "../images/splash-goblins.png";
import Button from "@components/Button.astro";
import Title from "@components/Title.astro";
import Typography from "@components/Typography.astro";
---

<Layout title="About">
  <main>
    <Typography>
      <Image src={localImage} alt="image of three goblins" />
      <div class="text-center">
        <Title text="Dungeon Days" />
        <p class="text-slate-200 mb-10">
          A children&rsquo;s book written by Ted Sherman, illustrated by Marcus
          Kielly, designed by Ollie Francis
        </p>
        <div class="flex justify-around flex-col md:flex-row">
          <Button href="/origin">Find out more</Button>
          <Button href="/pdf/dungeon-days-deck-v1.1.pdf" flipped target="_blank"
            >Download PDF Pack</Button
          >
          <Button href="mailto:ted@dungeondays.com" target="_blank"
            >Email Ted</Button
          >
        </div>
      </div>
    </Typography>
  </main>
</Layout>
