---
import Logo from "./Logo.astro";
import SiteTitle from "@components/SiteTitle.astro";
import links from "./links.json";
---

<div id="nav-full" class="hidden md:block p-2">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <Logo />
      <div class="ml-5"><SiteTitle /></div>
    </div>
    <ul class="inline-flex">
      {
        links.map(([href, text]) => {
          return (
            <li class="mr-3">
              <a class="p-2 leading-loose" href={href}>
                {text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

  h1 {
    font-family: "Alfa Slab One", cursive;
  }
</style>
