<a href="/"><div id="logo"></div></a>

<style>
  #logo {
    background: url("/assets/logo.jpg") left top / cover no-repeat;
    display: inline-block;
    border-radius: 25px;
    height: 50px;
    width: 50px;
  }
</style>
