---
// @ts-ignore
import { Menu } from "astro-feather-icons";
import Logo from "./Logo.astro";
import SiteTitle from "@components/SiteTitle.astro";
import links from "./links.json";
---

<div id="nav-mobile" x-data="{open: false}" class="md:hidden">
  <div
    id="nav-mobile-ctrl-container"
    class="p-2 flex items-center justify-between"
  >
    <Logo />
    <SiteTitle />
    <Menu id="nav-ctrl" x-on:click="open = !open" />
  </div>
  <ul
    x-show="open"
    x-transition
    id="nav-mobile-links"
    class="text-red-500 flex flex-col bg-black"
  >
    {
      links.map(([href, text]) => {
        return (
          <li>
            <a class="py-2 pl-4 w-full block" href={href}>
              {text}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
